.header {
  display: flex;
  align-items: center;
  height: 65px;
  background-color: blueviolet;
  color: white;
  padding: 20px;
}

.header--image {
  height: 100%;
  margin-right: 10px;
}

.header--title {
  font-size: 20px;
  margin-right: auto;
}

.header--project {
  font-size: 12px;
  font-weight: 500;
}
